In [15]:
pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.1.9-py3-none-any.whl (154 kB)
     -------------------------------------- 154.8/154.8 kB 3.1 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.9
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
import pandas as pd

In [30]:
def convert_eps_cell(cell):
    if(cell == "not available" or cell == "n.a."):
        return None
    return cell
def convert_people_cell(cell):
    if(cell == None or cell == "n.a."):
        return "Bill Gates"
    return cell

df = pd.read_excel("stock_data.xlsx","Sheet1",converters = {
    'eps':convert_eps_cell,
    'people':convert_people_cell,
})
df

  tickers    eps  revenue price         people
0   GOOGL  27.82       87   845     larry page
1     WMT   4.61      484    65     Bill Gates
2    MSFT  -1.00       85    64     bill gates
3    RIL     NaN       50  1023  mukesh ambani
4    TATA   5.60       -1  n.a.     ratan tata

In [42]:
df.to_excel("new.xlsx",sheet_name="Sheet1",index= False,startrow= 3, startcol = 4)

In [43]:
##Two Different sheet

In [47]:
df_weather = pd.read_csv("weather_data.csv")
df_weather

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [48]:
with pd.ExcelWriter("new_sheets.xlsx") as writer:
    df.to_excel(writer,sheet_name="stocks")
    df_weather.to_excel(writer,sheet_name = "Weather")